<form action="/link" method="get">
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="enter your email" />
  <input type="submit" value="Get Magic Link" />
</form>
<p>
  <h5>Or sign up by clicking <a href="/signup">HERE</a>.</h5>
</p>