:root {
  --backGr: #ece0d1;
  --textstyle: "Lobster", cursive;
  --textsize: 1.2em;
  --textcolor: #634832;
  --textstyle2: "Lobster Two", cursive;
}
* {
  font-family: var(--textstyle);
  font-size: large;
}

body {
  background-color: var(--backGr);
  font-size: large;
}

.mainPage {
  display: flex;
  display: grid;
  display: block;
  text-align: center;
  flex: 1 1 65%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 130px;
}

.brand-logo {
  display: none;
  left: 5%;
  color: #ece0d1;
}

.navbar {
  color: #634832;
  background: #ece0d1;
  font: var(--textcolor);
}

.about-us {
  top: 60%;
}

#niko {
  transform: scale(3.9) translate(-10%, 50%);
  position: relative;
  border-radius: 100px;
  padding: 15px;
  animation-name: niko;
  animation-duration: 2.9s;
  animation-delay: 2s;
  animation-fill-mode: both;
  border-radius: 100px;
}

@keyframes niko {
  from {
    right: -1800px;
  }
  to {
    right: -54%;
  }
}

#oli {
  transform: scale(3.9) translate(0, 60%);
  position: relative;
  border-radius: 100px;
  padding: 15px;
  animation-name: oli;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  border-radius: 100px;
}

@keyframes oli {
  from {
    left: -230px;
  }
  to {
    left: 35%;
  }
}

/* #about-lars {
    display: none;
    position: absolute;
    width: 400px;
    height: 100px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    left: 10%;
    animation-name: about-L;
    animation-duration: 2.5s;
    animation-delay: 2.2s;

}

#about-lars {
    animation: about-L 2.5s;
    animation-delay: 2.2s;
}

@keyframes about-L {
    from {opacity: 0;}
    to {opacity: 1;}
} */

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    width: 50px;
    height: 10px;
  }
  60% {
    width: 50px;
    height: 80px;
  }
}

#about-oli {
  position: absolute;
  width: 400px;
  height: 100px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  right: 20%;
  top: 70%;
  overflow: hidden;
  animation-delay: 5s;
  animation: animate 5s linear forwards;
  color: #38220f;
}

#about-niko {
  position: absolute;
  width: 400px;
  height: 100px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  left: 25%;
  overflow: hidden;
  animation-delay: 5s;
  animation: animate 5s linear forwards;
  color: #38220f;
}

/*Responsive layer*/

/* @media (max-width: 1080px) {
  .about-us {
    position: absolute;
    top: 10%;
  }
} */

/*media for NIKO*/
@media (max-width: 1080px) {
  #nikoD {
    position: absolute;
    top: 32%;
    left: 50%;
  }
}

@media (max-width: 1080px) {
  #about-niko {
    position: absolute;
    transform: scale(0.5);
    max-width: 380px;
    right: 300%;
  }
}

@media (max-width: 1080px) {
  #oliR {
    position: absolute;
    top: 50%;
  }
}

/*media for OLI*/

@media (max-width: 1080px) {
  #about-oli {
    position: absolute;
    padding-bottom: 5%;
    transform: scale(0.5);
    max-width: 380px;
    left: 65%;
  }
}

/* Navbar Responsive */
.navbar .topnav a.active {
  color: #38220f;
}

.topnav .active {
  float: left;
  display: block;
  color: #38220f;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {
    display: none;
  }
  .right-nav a:not(:last-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    background-color: transparent;
    color: #38220f;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .right-nav a {
    font-size: 11px;
    padding-top: 2px;
  }
}

.right-nav a {
  float: right;
  display: block;
  color: #38220f;
  text-align: center;
  padding: 22px 46px;
  text-decoration: none;
  font-size: 15px;
}
