:root {
    --backGr: #dbc1ac;
    --textstyle: 'Lobster', cursive;;
    --textsize: 1.2em;
    --textcolor: #634832;
    --textstyle2: 'Lobster Two', cursive;
  }
  * {
    font-family: var(--textstyle);
    font-size: large;
  }
  
  body {
    background-color: var(--backGr);
    font-size: large;
  }
  
  .container {
    display: none;
  }

  .mainPage {
    display: flex;
    display: grid;
    display: block;
    text-align: center;
    flex: 1 1 65%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 130px;
  }

  .brand-logo {
    display: none;;
    left: 5%;
    color: #ece0d1;
  }

  .home-button {
      font-family:var(--textstyle);
      font-size: larger;
     
      font-weight: bolder;
      margin-top: 10px;
      margin-left: 5%;
      padding: 3%;
  }

.card {
    position: absolute;
    top: 30%;
    left: 10%;
}

#latteBtn{
    text-decoration: none;
    color: var(--textcolor); 
    font-size: 30px;
}

.login-button {
    transform: translate(65%, 150%);
    
}

.email {
    padding: 10px;
}
.password {
    padding: 10px;
}

#loginBtn {
    color: var(--backGr);
    background-color: var(--textcolor);
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 40px;
    font-family: var(--textstyle2);
    text-decoration: none;
}

#email{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ece0d1;
    padding: 5px;
    padding-right: 80px;
    border-radius: 7px;
    border-color: transparent;
    font-size: smaller;
}

#password{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ece0d1;
    padding: 5px;
    padding-right: 80px;
    border-radius: 7px;
    border-color: transparent;
    font-size: smaller;
}

.big_cup {
    position: absolute;
    left: 75%;
    top: 2%;    
    margin: -30px;
    animation: mymove 3s;
    animation-iteration-count: 1;
}

#bigCup {
    animation-timing-function: ease;
}

@keyframes mymove {
    from {left: -100px; }
    to{ right: 10px; }
  }
  

#cloud {
    position: absolute;
    left:43%;
    top: 25%;
    opacity: 70%;
}

#no-account {
    position: absolute;
    left: 48%;
    top: 53%; 
    transform: scale(0.9);
    color: var(--textcolor);
   
}

#no-deco{
    color: var(--textcolor);
    text-decoration: none;
}

#login{
    font-size: 26px;
    font-weight: bolder;
    color: var(--textcolor);
    margin: 0px;;
    font-family: Arial, Helvetica, sans-serif;
    
}

#text-continue {
    font-size: 16px;
    opacity: 60%;
    color: var(--textcolor);
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-text {
    transform: translate(4%, 0%);
    
    
}